@import "tailwindcss";

:root {
  --bg-color: #181717;
  --primary-font: Geist, sans-serif;
  --white: #f4f4f4;
  --black: #1c1c1c;
  --grey: #6f6f6f;
  --brand-color: #27a5ff;
  --black-shade: #212121;
}

@theme inline {
  --color-background: var(--bg-color);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #ededed;
  }
}

body {
  background: var(--bg-color);
  color: var(--foreground);
  --font-sans: "Montserrat", sans-serif;
  --font-serif: "Playfair Display", serif;
  --font-script: "Dancing Script", cursive;
}

h1,
h2,
h3 {
  font-family: var(--font-serif), serif;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}

.floating {
  animation: float 6s ease-in-out infinite;
}

/* Спеціальні класи для анімацій */
.fade-in-up {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.8s ease-out;
}

.fade-in-up.visible {
  opacity: 1;
  transform: translateY(0);
}
