@import "tailwindcss";

:root {
  --bg-color: #171616;
  --primary-font: Geist, sans-serif;
  --white: #f4f4f4;
  --black: #1c1c1c;
  --grey: #6f6f6f;
  --brand-color: #27a5ff;
  --black-shade: #212121;
}

@theme inline {
  --color-background: var(--bg-color);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #ededed;
  }
}

body {
  background: var(--bg-color);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
